.layout-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.left-nav-wrapper {
  height: 100%;
  min-width: 300px;
  width: 300px;
  margin-right: 10px;
}
