@import 'src/assets/styles/colors';

:host {
  display: block;
  height: 100%;
}

.app-layout {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: stretch;
}

.app-content {
  flex: 1;
}

.app-header, .app-footer {
  background-color: $primary-color;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}
